.image_h_line{
    width: 98vw;
}
.Slider{
    
}

.header_content{

}
.header{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
}
.header_h{
    font-size: 2.5rem;
}
.s_line{
    object-fit: scale-down;
}
.p{
    text-align: center;
    font-size: 1.5rem;
    width: 50%;
    margin: 50% auto;
    margin-top: 0;
    margin-bottom: 0;
}
.section{
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    margin: 120px;
    background: white;
    margin-top: -60px;
    margin-bottom: 50px;
}

.Header{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.buttons_container{
    position: relative;
    display: flex;
    margin: 0% auto;
    justify-content: center;
    margin-bottom: 0px;
}

.buttons{
    width: max-content;
    background: var(--red);
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    gap: 25px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.button{
    border-radius: 30px;
    display: inline-flex;
    align-self: center;
    border: none;
    width: 200px;
    height: 28px;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1px;
    color: white;
    background: rgba(96, 25, 25, 0) !important;
}
.button_active{
    border-radius: 30px;
    display: inline-flex;
    align-self: center;
    border: none;
    width: 200px;
    height: 28px;
    color: var(--red)!important;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1px;
    background: rgb(255, 255, 255)!important;
}
.button:hover{
    color: white!important;
    background: rgb(96, 25, 25) !important;
}
#Button{
    width: 200px;
    background: white;
    color: var(--red);
}
.sub_notice{
    position: relative;
    top: 15px;
}
.notice_text{
    width: 100px;
    color: var(--green);
    font-weight: 600;
    margin: 20px;
    position: relative;
}
.arrow{

}


.cards{
    display: flex;
    margin: 20px;
    margin-top: -100px;
    gap: 15px;
    width: calc(100% - 40px);
    transform: scale(.87)!important;
}
.card{
    background: white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 32%;
    border: solid 1px grey;
    transform: scale(.9);
    transition: all 0.3s ease-in-out;
}
.card:hover{
    transform: scale(0.95);
}
.pricing_content{
    border-bottom: solid 2px grey;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.flex_pricing_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main_price{
    font-size: 2rem;
    color: var(--red);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
#subscribe_btn{
    border: none;
    background: var(--red);
    color: white;
    width: 70%;
    height: 45px;
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
}
#subscribe_btn:hover{
    transform: translateY(-5px);
    background: var(--green);
    box-shadow: 0px 10px 8px -4px #adadad;
    color: white;
    border: solid 1px var(--green);
}
.month{
    font-size: 1.2rem;
    margin: 5px;
}

#save_btn{
    background: var(--red);
    color: white;
    border: navajowhite;
    border-radius: 50px;
}
.hash_price{
    text-decoration: line-through;
}
.card_h1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
}

.card_p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 70px;
    height: 70px;
    max-height: 70px;
    text-align: center;
}

.Card_Btn{
    border: none;
    background: transparent;
    color: var(--red);
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.Card_Btn:hover{
    color: black!important;
}
.Best_Btn{
    background: var(--green) !important;
}
.Best_Btn:hover{
    background: white !important;
    color: var(--green)!important;
}
.features_container{
    text-align: start;
}
.feature_li{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}


#Best{
    border: solid 3px var(--green);
    background: var(--paige);
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
#Best:hover{
    transform: scale(0.95);
}
.best_selling{
    position: relative;
    top: -22px;
    background: var(--green);
    color: white;
    width: max-content;
    padding: 4px;
    border-radius: 35px;
    width: 40%;
    font-weight: bolder;
}




@media screen and (max-width:1500px) {
    .card{
        width: 100%;
    }
    #Best{
        width: 100%;
    }
}
@media screen and (max-width:1100px) {
    .section {
        margin: 0px;
    }
}
@media screen and (max-width:1024px) {
    .card{
        width: 80%;
    }
    #Best{
        width: 80%;
    }
}
@media screen and (max-width:950px) {
    .p{    
        width: 100%;
        font-size: 2rem;
    }
    
    .cards{
        display: block;
        margin: 0px;
        margin-top: 0px;
        gap: 0px;
        width: 100%;
    }
    .card {
        width: 80%;
        transform: scale(0.9)!important;
    }
}

@media screen and (max-width:680px) {
    .buttons {
        width: 50%;
    }

}
@media screen and (max-width:500px) {
    .p{    
        width: 100%;
        font-size: 1rem;
    }
    
}
@media screen  and (max-width:1050px){
    .p { width: 90%; }
}