.section{
    width: 80%;
    margin: 5% auto;
    display: flex;
    background: var(--red);
    color: white;
    border-bottom: solid 1px #222222;
    border-radius: 12px;
}
.block_content{
    display: block;
    width: 100%;
    padding: 50px;
}
.h1{

}
.h3{
    font-size: 1.5rem;
}
.flex_btns{
    display: flex;
    gap: 30px;
}

.image_store{
    cursor: pointer;
    background: black;
    border-radius: 14px;
    border: solid 1px black;
    transition: all 0.3s ease-in-out;
}
.image_store:hover{
    transform: scale(1.05);
    box-shadow: 0px 14px 28px -10px #800008;
}
.image{
    width: 100%;
}

@media screen and (max-width:1100px) {
    .section {
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
}
@media screen and (max-width:760px) {
    .h1 {
        font-size: 1.6rem;
    }
    .h3{
        font-size: 1.2rem;
        width: 250px;
    }
    .block_content{
        width: 70%;
        padding: 30px;
    }
    .image_store{
        width: 150px;
    }

}
@media screen and (max-width:700px) {
    .block_content {
        width: 100%;
        padding: 15px;
    }
}
@media screen and (max-width:540px) {
   .image{
    width: 160px;
    margin-right: -160px;
    margin-left: -160px;
   }
}
@media screen and (max-width:480px) {
    .h1{
        font-size: 1.6rem;
        width: 60%;
    }
    .image_store {
        width: 100px;
    }
}
