.section{
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    background: white;
    margin-top: -60px;
    background: url(../../../../assets/coverf.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    padding-bottom: 40px;
}
.s_line{
    object-fit: scale-down;
}
.Header{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
}
.h1{

}
.Card{
    display: inline-flex;
    background: aliceblue;
    border-radius: 20px;
}
.user_info{

}
.user_image{
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.username{
    position: absolute;
    bottom: 0px;
    margin: 10px;
    font-weight: bolder;
    color: var(--red);
    background: #ffffffa3;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px var(--green);
}

.comment{
    padding: 10px;
    width: 250px;
    text-align: -webkit-right;
}

@media screen and (max-width:700px) {
    .section{
        margin-top: 0;
    }
    .Card {
        display: block;
        margin-bottom: 30px;
    }
    .username{
        position: relative;
        bottom: 0px;
        margin: 50px;
        width: max-content;
    }
    .comment{
        padding: 10px;
        width: auto;
        margin-top: -50px;
    }
    .user_image{
        width: 90%;
        margin-bottom: -30px;
        height: 100%;
        border-radius: 50px;
        padding: 20px;
        max-height: 200px;
    }
    .Header {
        gap: 10px;
        width: 100vw;
        margin-left: -50px;
        margin-right: -50px;
    }
}

@media screen and (max-width:570px) {
    .username {
        bottom: 0;
        margin: 50px;
        position: relative;
        width: -webkit-max-content;
        width: max-content;
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width:450px) {
    .Header {
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
}