.section{
    display: block;
    justify-content: center;
    margin-bottom: 0px;
}
.Header{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.s_line{
    object-fit: scale-down;
}
.h1{

}
.cards{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.card{
    border-radius: 23px;
    width: 100%;
    cursor: pointer;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;
}
.card:hover{
    transform: translateY(-10px);
}
.card:hover .card_text_content .text{
    color: var(--red);
    text-decoration: underline;
}
.image_h_line{
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    width: 100%;
}
.card_text_content{
    padding: 10px;
    margin-top: -25px;
}
.date{
    font-weight: 100;
    font-size: 15px;
    margin-top: 25px;
}
.text{
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    font-size: 1rem;
}

@media screen  and (max-width:1100px){
    .cards{ padding: 10px; }
    .card{ width: 100%; margin-bottom: 40px; }
    .Header{ margin-bottom: 0px; }

}
@media screen  and (max-width:500px){
    .Header{
        transform: scale(0.9)!important;
    }
    .h1{
        width: 80%!important;
    }
    .s_line{
        object-fit: scale-down;
        width: 20%;
        transform: scale(1.2);
    }
}
@media screen  and (max-width:485px){
    .h1{
        text-align: center;
        width: 40%;
    }
}



