.section{
    display: block;
    justify-content: center;
    margin-bottom: 0px;
}
.Header{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.s_line{
    object-fit: scale-down;
}
.h1{

}
.cards{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.card{
    border: solid 1px grey;
    border-radius: 23px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
.card:hover{
    border: solid 1px var(--red);
}
.card:hover .card_text_content .text{
    color: var(--red);
    /* font-size: 1.05rem; */
}
.image_h_line{
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    width: 100%;
}
.card_text_content{
    padding: 10px;
    margin-top: -25px;
}
.date{
    font-size: 15px;
    font-weight: 100;
}
.text{
    font-size: 1.02rem;
    font-weight: bold; 
    transition: all 0.3s ease-in-out
}

@media screen  and (max-width:1100px){
    .cards{ padding: 10px; }
    .card{ width: 100%; margin-bottom: 40px; }
    .Header{ margin-bottom: 0px; }

}
@media screen  and (max-width:485px){
    .h1{
        text-align: center;
        width: 40%;
    }
}


