.Section{
    display: flex;
    width: 100%;
}
.v_line{
    width: 6em;
    text-align: center;
    height: 60vh;
}
#v_line_mt{
    margin-top: 90px;
    width: 6em;
    text-align: center;
    height: 60vh;
}

.center_body{
    width: calc(100% - 12em );
    display: block;
    text-align: center;
    margin-top: 80px;
}
.h1{
    font-size: 4vw;
    color: var(--red);
    font-weight: bolder;
   
    line-height: 0.9;
}
.p{
    font-size: 1.2rem;
}
.main_image{
    width: 60vw;
    margin-top: 20px;
}
#Button{
    background: var(--paige);
    color: var(--red);
    align-items: center;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 50px;
    border: solid 1px var(--red);
    cursor: pointer;
    
    font-weight: bolder;
    display: inline-flex;
    gap: 10px;
    width: 40%;
    text-align: center;
    justify-content: center;
}
#Button:hover{
    background: var(--red);
    color: white;
    box-shadow: 0px 8px 8px grey;
    transform: translateY(-3px);
}

.Buttons_flex{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px;
}
#Customer_Btn{
    height: 60px;
    background: white;
    color: var(--green);
    font-size: 1.1rem;
    font-weight: bolder;
    border: solid 2px var(--green);
}
#Seller_Btn{
    height: 60px;
    background: var(--green);
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    border: none;
}
#Seller_Btn:hover{
    box-shadow: 0px 8px 8px grey;
    transform: translateY(-3px);
}
#Customer_Btn:hover{
    box-shadow: 0px 8px 8px grey;
    transform: translateY(-3px);
}

.line_data{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 2%;
}
.line_data_li{
    cursor: default;
    display: flex;
    gap: 3px;
    align-items:center;
}

.image_h_line{
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 40px;
}

.line_data_icon{
    color: var(--green);
    font-size: 1rem;
    margin-top: -3.5px;
}
@media screen and (max-width:1100px) {
    #Button {
        width: 50%;
    }
    .v_line {
        width: 4em;
        height: 40vh;
    }
    #v_line_mt{
        width: 4em;
        height: 40vh;
    }
    .center_body{
        width: calc(100% - 8em );
        margin-top: 40px;
    }
}

@media screen and (max-width:750px) {
    #Button {
        width: 85%;
        font-size: 1rem;
        height: 40px;
        padding-top: 10px;
    }
    .v_line {
        width: 3em;
        height: 30vh;
    }
    #v_line_mt{
        width: 3em;
        height: 30vh;
    }
    .center_body{
        width: calc(100% - 6em );
    }
    .h1 { font-size: 4.5vw; }
    .p { font-size: 1rem; }
    #Seller_Btn {
        height: 40px;
        font-size: .8rem;
    }
    #Customer_Btn{
        height: 40px;
        font-size: .8rem;
    }
    .line_data_li{ font-size: 0.85rem; }
    .main_image {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width:540px) {
    .Buttons_flex {
        margin-top: 50px;
    }
    .line_data{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 2%;
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .line_data_li{ font-size: 0.75rem; font-weight: bolder; align-items:flex-start; }
    .main_image{
        margin-top: 110px;
    }
    .v_line {
        width: 2em;
        height: 20vh;
    }
    #v_line_mt{
        width: 2em;
        height: 20vh;
    }
    .center_body{
        width: calc(100% - 4em );
    }
}
@media screen and (max-width:430px) {
    .line_data_li{ font-size: 0.65rem; font-weight: bolder; align-items:flex-start; }
}