@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Geologica:wght@100&family=Merriweather:ital,wght@0,400;1,300&family=Raleway:ital,wght@1,100&family=Tajawal:wght@300&family=Ultra&display=swap');
:root {
  --red:#88050D;
  --green: #0A806A;
  --bg:#F0F0F0;
  --orange:#DF9019;
  --paige: #E5BC7C;
  --brown: #5E5242;
  --grey: #6B6B6B;
}
.html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.splide__pagination.splide__pagination--rtl {
  margin-top: 50px !important;
  position: relative!important;
}
ul.splide__pagination.splide__pagination--ltr{
  margin-top: 50px !important;
  position: relative!important;
}

button.splide__pagination__page.is-active {
  color: var(--red)!important;
  background-color: var(--red)!important;
}
