.Footer{
    min-height: 30vh;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #000;
    color: white;
}
.Content_1{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    direction: ltr;
}
.img_link{
    width: 28px;
    box-shadow: 0px 0px 0px 2px #e7e7e7;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.img_link:hover{
    box-shadow: 0px 0px 0px 2px #656565;
}
.Social_Icons{
    gap: 2%;
    display: flex;
    justify-content: end;
}
.sec_1{
    width: 50%;
    text-align: end;
}
.sec_2{
    background: url(http://localhost:3000/static/media/cover.b646f58ec0e73337025d.png);
    background-repeat: no-repeat;
    width: 40%;
    text-align: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 20px;
    align-self: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    font-size: 1.6rem;
    background: rgba(229, 188, 124, 1);
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    
}
.Form{
    display: inline-grid;
    padding-top: 20px;
}
.input{
    width: 25vw;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    outline-style: none;
}
#Register{
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    background: var(--red);
    color: white;
    height: 45px;
    border: none;
}
#Register:hover{
    background: rgb(107, 12, 12);
}
.Content_2{
    display: flex;
    align-items: center;
    padding-top: 35px;
}
.Content_2_Routes{
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 2%;
}

.Route{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.Rights{
    color: rgba(255, 255, 255, 0.37);
    width: 40%;
    text-align: end;
}
.error{
    font-size: 1rem;
    color: darkred;
    margin-bottom: 10px;
    font-weight: 400;
}

@media screen  and (max-width:1250px){
    .sec_2{
        width: calc(100% - 60px);
    }
    .Form {
        width: 80%;
    }
    .input{
        width: calc(100% - 20px);
        padding: 10px;
    }
    #Register {
        height: 50px;
    }
    .sec_1 {
        width: 100%;
        text-align: center;
    }
    .Social_Icons {
        justify-content: center;
    }
}

@media screen  and (max-width:1100px){
    .Rights{
        text-align: center;
        width: 100%;
    }
    .Content_2_Routes {
        text-align: center;
        justify-content: center;
    }
    
    .Footer{
        padding-bottom: 70px;
    }
    .Content_2 {
        display: block;
        justify-content: center;
        text-align: center;
    }
  
    .Route {
        font-size: 1.3rem;
        text-decoration: none;
        cursor: pointer;
    }
}
@media screen  and (max-width:980px){
    .Content_1{display: block;}
}
@media screen  and (max-width:735px){
    .Route {
        font-size: 0.95rem;
    }
}
@media screen  and (max-width:580px){
    .Footer{
        padding-top: 20px;
    }
    .sec_2{
        font-size: 1rem;
        padding-top: 15px;
        padding-bottom: 15px;
        width: calc(100% - 60px);
    }
    .h1{
        font-size: 1.3rem;
        width: 100%;
    }
    .Social_Icons{
        width: 100%;
        gap: 3%;
    }
}
